/* Global styles to the web application. */

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

header {
    background: #2875d4;
    padding: 0.1em 0;
    width: 100%;
    overflow: auto;
}

header h1 {
    color: white;
    text-align: center;
    padding: 0px 1em;
    text-decoration: none;
    font-size: 2em;
    line-height: 35px;
}

#content {
    width: 80%;
    float: right;
    margin: 0 auto;
    text-align: center;
}

#sidebar {
    width: 15%;
    float: left;
    margin-top: 2em;
    margin-left: 1.5em;
    text-align: center;
}

#sidebar p {
    margin-bottom: 1em;
    font-size: 22px;
    font-weight: 800;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 3em;
}

#bottoni button {
    width: 15em;
    height: 2.5em;
    margin: 0.5em;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    cursor: pointer;
    background-color: lightgray;
}

#bottoni button:hover:enabled{
}

#bottoni button:active:enabled{
}

#bottoni button:disabled {
    
}

#legenda li {
    margin: 1em;
}

table, td {
    border: 3px solid black;
    background-color: lightgray;
    border-collapse: collapse;
    empty-cells: show;
    text-align: center;
}

table {
    margin-left:auto;
    margin-top: 8em;
    margin-right:auto;
}

footer {
    background: #2875d4;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}