
<header>
  <h1>C5 - PORTACS</h1>
</header>

<div id="sidebar">

  <div id="legenda">
    <p>Legenda:</p>
    <ul>
      <li>Unità: <span id="legUnità">U</span></li>
      <li>Ostacolo: <span id="legOstacolo">O</span></li>
      <li>POI: <span id="legPOI">P</span></li>
    </ul>
  </div>

</div>

<div id="content">

  <div>
    <table>
      <tr>
        <span *ngFor="let cell of cells">
          <td *ngIf="cell.y === 0">
            <span style="visibility: hidden;">{{cell.x}}</span>
            <span *ngIf="cell.obstacle" class="ostacolo">O</span>
            <span *ngIf="cell.unit" class="unità">U</span>
            <span *ngIf="cell.poi">
              <span *ngIf="cell.unit" style="font-size: 18px; margin-left: -1em;">
                <span style="background-color: lightgreen;">U</span>+<span style="background-color: lightblue;">P</span>
              </span>
              <span *ngIf="cell.unit === false" class="poi">P</span>              
            </span>
          </td>
        </span>
      </tr>
      <tr >
        <span *ngFor="let cell of cells">
          <td *ngIf="cell.y === 1 ">
            <span style="visibility: hidden;">{{cell.x}}</span>
            <span *ngIf="cell.obstacle" class="ostacolo">O</span>
            <span *ngIf="cell.unit" class="unità">U</span>
            <span *ngIf="cell.poi">
              <span *ngIf="cell.unit" style="font-size: 18px; margin-left: -1em;">
                <span style="background-color: lightgreen;">U</span>+<span style="background-color: lightblue;">P</span>
              </span>
              <span *ngIf="cell.unit === false" class="poi">P</span>              
            </span>
          </td>
        </span>
      </tr>
      <tr>
        <span *ngFor="let cell of cells">
          <td *ngIf="cell.y === 2">
            <span style="visibility: hidden;">{{cell.x}}</span>
            <span *ngIf="cell.obstacle" class="ostacolo">O</span>
            <span *ngIf="cell.unit" class="unità">U</span>
            <span *ngIf="cell.poi">
              <span *ngIf="cell.unit" style="font-size: 18px; margin-left: -1em;">
                <span style="background-color: lightgreen;">U</span>+<span style="background-color: lightblue;">P</span>
              </span>
              <span *ngIf="cell.unit === false" class="poi">P</span>
            </span>
          </td>
        </span>
      </tr>
    </table>
  </div>

</div>

<footer>
  <p>POC designed by <b>lineCode</b> group.</p>
</footer>

<router-outlet></router-outlet>