table {
  margin-left:auto;
  margin-top: 2em;
  margin-right:auto;
}

table, td {
  border: 3px solid black;
  background-color: rgb(241, 241, 241);
  border-collapse: collapse;
  empty-cells: show;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
}

table td {
  height: 55px;
  width: 55px;
  text-align: center;
}

.unità {
  background-color: lightgreen;
  margin-left: -0.5em;
}

.ostacolo {
  background-color: lightcoral;
  margin-left: -0.5em;
}

.poi {
  background-color: lightblue;
  margin-left: -0.5em;
}
